{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3 mb-5">
    <!-- {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            
        {% else %}
            <div class="alert alert-success alert-dismissible fade show">{{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
            
        {% endif %}
    {% endfor %}
    {% endif %} -->

    <form method="POST" enctype="multipart/form-data" action="{% url 'tool_upload_info'%}">
        {% csrf_token %}

        <input class="form-control mb-3" type="file" name="file">

        <button type="submit" class="btn btn-success">
            Upload
        </button>
    </form>
    <form action="{% url 'temp_excel' %}">
        <button type="submit"><a href="{% static 'files/Product_Template.xlsx' %}" class="btn btn-info" download>
    Download Template </a></button>
    </form>
    
    
</div>

<div class="card border-primary mb-4">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Upload File Format</h5>
    </div>

    <div class="card-body">
        <h6 class="fw-bold">Required Columns</h6>

        <pre class="bg-light p-3 border rounded">
            product_code*, product_name*, description, item_category*,cost_price*, selling_price*,expire-date*, quantity*
        </pre>

        <h6 class="fw-bold mt-3">Column Format</h6>

        <h6 class="fw-bold">Sample Record</h6>

        <pre class="bg-light p-3 border rounded">P001, Rice 25kg, Premium basmati rice, Grocery,1200.50, 1500.75, 2023-12-31, 30
        </pre>


    </div>
</div>

{% endblock %}

{% block errors %}
    
{% endblock %}
