{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
<div class="signup-wrapper">

    <div class="signup_box">

        <div class="signup-header">
            <h2>Create Account</h2>
            <p>Join us and start managing your products.</p>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" action="{% url 'tool_signup_info' %}">
            {% csrf_token %}

            <div class="form-group">
                <label>Full Name</label>
                <input
                    type="text"
                    name="full_name"
                    placeholder="Siva Prakash"
                    required>
            </div>

            <div class="form-group">
                <label>Email Address</label>
                <input
                    type="email"
                    name="email"
                    placeholder="example@gmail.com"
                    required>
            </div>

            <div class="form-group">
                <label>Password</label>
                <input
                    type="password"
                    name="password1"
                    placeholder="Minimum 8 characters"
                    required>
            </div>

            <div class="form-group">
                <label>Confirm Password</label>
                <input
                    type="password"
                    name="password2"
                    placeholder="Confirm password"
                    required>
            </div>

            <button class="signup-btn">
                Create Account
            </button>

        </form>

        <div class="login-link">
            Already have an account?
            <a href="{% url 'tool_login_info' %}">
                Login
            </a>
        </div>

    </div>

</div>

{% endblock %}